soap-webapplication/src/main/resources/IllustrationinquiryWS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://beans.illustrationinquiry.life.insurance.seec.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="processIllustrationInquiry">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" name="txlifeRequest" nillable="true" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="processIllustrationInquiryResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" name="processIllustrationInquiryReturn" nillable="true" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>